@model MediaManager.Models.CollectionViewModel

@{
    ViewBag.Title = "Collection";
}

<h2>Collection</h2>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#collectionTableMusicTab" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-music"></span>
                    Music
                </a>
            </li>
            <li>
                <a href="#collectionTableMoviesTab" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-film"></span>
                    Movies
                </a>
            </li>
            <li>
                <a href="#collectionTableGamesTab" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-play-circle"></span>
                    Games
                </a>
            </li>
            <li>
                <a href="#requestTableTab" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-inbox"></span>
                    Requests
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="collectionTableMusicTab">
                <a class="btn btn-primary btnAddItem" id="btnAddMusic" data-toggle="modal" data-target="#addMusicModal">Add Music</a>
                
                <table class="table table-bordered table-striped" id="collectionTableMusic">
                    <thead>
                        <tr>
                            <th>Artist</th>
                            <th>Album Title</th>
                            <th>Year</th>
                            <th>Genre</th>
                            <th>On Loan</th>
                            <th>Loaned To</th>
                            <th>Loan Length</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MusicList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Artist)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlbumTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnLoan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoanedToID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoanLength)
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary" id="btnCollectionTableMusicEdit_@item.ID" data-id="@item.ID" data-toggle="modal" data-target="#editMusicModal">Edit</a>

                                    @if (item.OnLoan == MediaManager.Models.MusicOnLoan.No)
                                    {
                                        <a class="btn btn-primary btnCollectionTableLoanReturn" id="btnCollectionTableMusicLoan_@item.ID" data-id="@item.ID" href="#">Loan</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btnCollectionTableLoanReturn" id="btnCollectionTableMusicReturn_@item.ID" data-id="@item.ID" href="#">Return</a>
                                    }

                                    <a class="btn btn-danger btnCollectionTableRemove" id="btnCollectionTableMusicRemove_@item.ID" data-id="@item.ID" href="#">Remove</a>
                                    <a class="btn btn-primary btnCollectionTableRequest" id="btnCollectionTableMusicRequest_@item.ID" data-id="@item.ID" href="#">Request</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="collectionTableMoviesTab">
                <a class="btn btn-primary btnAddItem" id="btnAddMovie" data-toggle="modal" data-target="#addMovieModal">Add Movie</a>

                <table class="table table-bordered table-striped" id="collectionTableMovies">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Year</th>
                            <th>Length</th>
                            <th>Format</th>
                            <th>On Loan</th>
                            <th>Loaned To</th>
                            <th>Loan Length</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MoviesList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Length)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Format)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnLoan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoanedToID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoanLength)
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary" id="btnCollectionTableMovieEdit_@item.ID" data-id="@item.ID" data-toggle="modal" data-target="#editMovieModal">Edit</a>

                                    @if (item.OnLoan == MediaManager.Models.MovieOnLoan.No)
                                    {
                                        <a class="btn btn-primary btnCollectionTableLoanReturn" id="btnCollectionTableMovieLoan_@item.ID" data-id="@item.ID" href="#">Loan</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btnCollectionTableLoanReturn" id="btnCollectionTableMovieReturn_@item.ID" data-id="@item.ID" href="#">Return</a>
                                    }

                                    <a class="btn btn-danger btnCollectionTableRemove" id="btnCollectionTableMovieRemove_@item.ID" data-id="@item.ID" href="#">Remove</a>
                                    <a class="btn btn-primary btnCollectionTableRequest" id="btnCollectionTableMusicRequest_@item.ID" data-id="@item.ID" href="#">Request</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="collectionTableGamesTab">
                <a class="btn btn-primary btnAddItem" id="btnAddGame" data-toggle="modal" data-target="#addGameModal">Add Game</a>

                <table class="table table-bordered table-striped" id="collectionTableGames">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Platform</th>
                            <th>Genre</th>
                            <th>Year</th>
                            <th>On Loan</th>
                            <th>Loaned To</th>
                            <th>Loan Length</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GamesList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Platform)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnLoan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoanedToID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoanLength)
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary" id="btnCollectionTableGameEdit_@item.ID" data-id="@item.ID" data-toggle="modal" data-target="#editGameModal">Edit</a>

                                    @if (item.OnLoan == MediaManager.Models.GameOnLoan.No)
                                    {
                                        <a class="btn btn-primary btnCollectionTableLoanReturn" id="btnCollectionTableGameLoan_@item.ID" data-id="@item.ID" href="#">Loan</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btnCollectionTableLoanReturn" id="btnCollectionTableGameReturn_@item.ID" data-id="@item.ID" href="#">Return</a>
                                    }

                                    <a class="btn btn-danger btnCollectionTableRemove" id="btnCollectionTableGameRemove_@item.ID" data-id="@item.ID" href="#">Remove</a>
                                    <a class="btn btn-primary btnCollectionTableRequest" id="btnCollectionTableMusicRequest_@item.ID" data-id="@item.ID" href="#">Request</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="requestTableTab">
                <table class="table table-bordered table-striped" id="requestTable">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Item Type</th>
                            <th>Requested By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.HiddenFor(m => m.RequestedItem.ID, new { @id = "requestTableRequestID" })

                        @foreach (var item in Model.RequestsList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemType)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.RequestedBy)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestorID)
                                </td>
                                <td class="text-center">
                                    @* TODO: Can't approve if item's OnLoan == 'Yes' ('Approve' is 'Loan' action) *@
                                    <a class="btn btn-success btnRequestTableApprove" id="btnRequestTableApprove_@(item.ID)" href="#">Approve</a>
                                    <a class="btn btn-danger btnRequestTableDeny" id="btnRequestTableDeny_@(item.ID)" href="#">Deny</a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


@*"Add" Modals*@
<div class="modal fade" id="addMusicModal" tabindex="-1" role="dialog" aria-labelledby="addMusicModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addMusicModalLabel">Add Music</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Music", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Music.Artist, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Music.Artist, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Music.AlbumTitle, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Music.AlbumTitle, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Music.Year, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Music.Year, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Music.Genre, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Music.Genre, new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(m => m.Music.OnLoan, new { @class = "col-md-4 control-label" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.Music.OnLoan, new SelectList(
                              new List<Object>
                              {
                                  new { value = "No", text = "No" },
                                  new { value = "Yes", text = "Yes" }
                              }
                            ), new { @class = "form-control" })
                        </div>
                    </div>*@
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Add" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addMovieModalLabel">Add Movie</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Movie", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Title, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Title, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Genre, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Genre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Year, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Year, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Length, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Length, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Format, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Format, new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Movie.OnLoan, new { @class = "col-md-4 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.Movie.OnLoan, new SelectList(
                                  new List<Object>
                                  {
                                      new { value = "No", text = "No" },
                                      new { value = "Yes", text = "Yes" }
                                  }
                                ), new { @class = "form-control" })
                            </div>
                        </div>*@
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Add" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="addGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addGameModalLabel">Add Game</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Game.Title, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Game.Title, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Game.Platform, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Game.Platform, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Game.Genre, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Game.Genre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Game.Year, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Game.Year, new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(m => m.Game.OnLoan, new { @class = "col-md-4 control-label" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.Game.OnLoan, new SelectList(
                              new List<Object>
                              {
                                  new { value = "No", text = "No" },
                                  new { value = "Yes", text = "Yes" }
                              }
                            ), new { @class = "form-control" })
                        </div>
                    </div>*@
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Add" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*"Edit" Modals*@
<div class="modal fade" id="editMusicModal" tabindex="-1" role="dialog" aria-labelledby="editMusicModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="editMusicModalLabel">Edit Music</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Music", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Music.ID, new { @id = "editMusicModalID" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Music.Artist, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Music.Artist, new { @class = "form-control", @id = "editMusicModalArtist" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Music.AlbumTitle, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Music.AlbumTitle, new { @class = "form-control", @id = "editMusicModalAlbumTitle" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Music.Year, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Music.Year, new { @class = "form-control", @id = "editMusicModalYear" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Music.Genre, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Music.Genre, new { @class = "form-control", @id = "editMusicModalGenre" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(m => m.Music.OnLoan, new { @class = "col-md-4 control-label" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.Music.OnLoan, new SelectList(
                              new List<Object>
                              {
                                  new { value = "No", text = "No" },
                                  new { value = "Yes", text = "Yes" }
                              }
                            ), new { @class = "form-control" })
                        </div>
                    </div>*@
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Update" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editMovieModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="editMovieModalLabel">Edit Movie</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Movie", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Movie.ID, new { @id = "editMovieModalID" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Title, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Title, new { @class = "form-control", @id = "editMovieModalTitle" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Genre, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Genre, new { @class = "form-control", @id = "editMovieModalGenre" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Year, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Year, new { @class = "form-control", @id = "editMovieModalYear" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Length, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Length, new { @class = "form-control", @id = "editMovieModalLength" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Format, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Movie.Format, new { @class = "form-control", @id = "editMovieModalFormat" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Movie.OnLoan, new { @class = "col-md-4 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.Movie.OnLoan, new SelectList(
                                  new List<Object>
                                  {
                                      new { value = "No", text = "No" },
                                      new { value = "Yes", text = "Yes" }
                                  }
                                ), new { @class = "form-control" })
                            </div>
                        </div>*@
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Update" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editGameModal" tabindex="-1" role="dialog" aria-labelledby="editGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="editGameModalLabel">Edit Game</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Game.ID, new { @id = "editGameModalID" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Game.Title, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Game.Title, new { @class = "form-control", @id = "editGameModalTitle" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Game.Platform, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Game.Platform, new { @class = "form-control", @id = "editGameModalPlatform" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Game.Genre, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Game.Genre, new { @class = "form-control", @id = "editGameModalGenre" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Game.Year, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Game.Year, new { @class = "form-control", @id = "editGameModalYear" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Game.OnLoan, new { @class = "col-md-4 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.Game.OnLoan, new SelectList(
                                  new List<Object>
                                  {
                                      new { value = "No", text = "No" },
                                      new { value = "Yes", text = "Yes" }
                                  }
                                ), new { @class = "form-control" })
                            </div>
                        </div>*@
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Update" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
